[submodule "src/fengine/libs/imgui"]
	path = src/fengine/libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/fengine/libs/entt"]
	path = src/fengine/libs/entt
	url = https://github.com/skypjack/entt.git
[submodule "src/fengine/libs/tracy"]
	path = src/fengine/libs/tracy
	url = https://bitbucket.org/wolfpld/tracy.git
